.circulo{
    stroke-width: 20;
    fill:transparent;
}
.fatia1{
    stroke: blue;
}
.fatia2{
    stroke: red;
}
.fatia3{
    stroke: green;
}
.fatia4{
    stroke: yellow;
}
.fatia5{
    stroke: orange;
}
.fatia6{
    stroke: purple;
}
.fatia7{
    stroke: pink;
}
.fatia8{
    stroke: brown;
}
.fatia9{
    stroke: black;
}
.fatia10{
    stroke: gray;
}
.fatia11{
    stroke: white;
}
.fatia12{
    stroke: blueviolet;
}
.fatia13{
    stroke: coral;
}
.fatia14{
    stroke: darkblue;
}
.fatia15{
    stroke: darkcyan;
}
.fatia16{
    stroke: darkgoldenrod;
}
.fatia17{
    stroke: darkgray;
}
.fatia18{
    stroke: darkgreen;
}
.fatia19{
    stroke: darkkhaki;
}
.fatia20{
    stroke: darkmagenta;
}
.fatia21{
    stroke: darkolivegreen;
}
.fatia22{
    stroke: darkorange;
}
.fatia23{
    stroke: darkorchid;
}
.fatia24{
    stroke: darkred;
}
.fatia25{
    stroke: darksalmon;
}
.fatia26{
    stroke: darkseagreen;
}
.fatia27{
    stroke: darkslateblue;
}
.fatia28{
    stroke: darkslategray;
}
.fatia29{
    stroke: darkturquoise;
}
.fatia30{
    stroke: darkviolet;
}




